/* main.css */

body {
  background-color: #ddd;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

main {
  padding: 0;
  margin: 0 auto;
}

section {
  padding: 0;
  margin: 0;
  min-width: 300px;
  border-radius: 3px;
  background-color: white;
  text-align: center;
  display: inline-block;
  margin: 0 10px 10px 10px;
}

img {
  border-radius: 80px;
  width: 50%;
}

h2 {
  font-size: 1.7em;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.person-title {
  font-size: 1em;
  color: #aaa;
  margin: 0;
  padding: 0;
}

.person-email {
  font-size: 1em;
  margin: 0;
  padding: 0;
}